node_modules/
dist/
.cache/
.env/

# navegador/chrome
Default/
Network/
Cookies
*.ldb
*.log
*.sqlite

# tokens e sessões
tokens/
backend/tokens/

# sistema
.DS_Store
Thumbs.dbbackend/.env
frontend/.env
.env
